.vscode/
.flatpak-builder/
.idea/
haddock/
dist-newstyle/
dist-docs.*/
*~
*.aux
*.hp
*.prof
*.ps
*.ser
cabal.project.local*
*.ft
build/
futr-x86_64.AppImage
futr.AppDir/
resources.cpp
resources.qrc
futr.flatpak
