.vscode/
.flatpak-builder/
.idea/
haddock/
dist-newstyle/
dist-docs.*/
*~
*.aux
*.hp
*.prof
*.ps
*.ser
cabal.project.local*
*.ft
build/
platform/windows/futr_res.o
resources.cpp
resources.qrc
futr.flatpak
