[Flatpak Repo]
Title=Futr Development Repository
Url=https://futrnostr.github.io/futr-flatpak/repo-continuous
Homepage=https://github.com/futrnostr/futr
Comment=Development builds of Futr
Description=Official Flatpak repository for Futr development builds
Icon=https://raw.githubusercontent.com/futrnostr/futr/master/flatpak/nostr-purple.png
GPGKey=GPGKEY_PLACEHOLDER
