[Desktop Entry]
Name=Futr
Comment=Native nostr client for your Linux desktop
Exec=futr
Icon=com.futrnostr.futr
Type=Application
Categories=Network;Chat;
