[Flatpak Repo]
Title=Futr Stable Repository
Url=https://futrnostr.github.io/futr-flatpak/repo-stable
Homepage=https://github.com/futrnostr/futr
Comment=Stable releases of Futr
Description=Official Flatpak repository for Futr stable releases
Icon=https://raw.githubusercontent.com/futrnostr/futr/master/flatpak/nostr-purple.png
GPGKey=GPGKEY_PLACEHOLDER
